POSTGRES_DB=warehouse
POSTGRES_USER=mdp
POSTGRES_PASSWORD=mdp_password
POSTGRES_PORT=5432

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MDP_BUCKET=lakehouse

KAFKA_EXTERNAL_PORT=29092
KAFKA_UI_PORT=8080

PRODUCER_EVENTS=100
PRODUCER_RATE=20
